services:
    api:
        build: ./UrlShortener.API
        container_name: urlshortener_api
        ports:
            - "5000:8080"
        environment:
            ASPNETCORE_ENVIRONMENT: Production
            ConnectionStrings__Default: ${ConnectionStrings__Default}

    web:
        build: ./UrlShortener.Web
        ports:
            - "3000:80"
        depends_on:
            - api
        